@import 'tailwindcss';
@theme {
  --color-primary: #1875bb; /* Main blue */
  --color-primary-light: #25bbed; /* Cyan accent */
  --color-accent: #b85c00; /* Orange */
  --color-accent-dark: #c96a0d; /* Darker orange for hover */
  --color-bg-dark: #000000; /* Logo background */
  --color-surface: #0d1b2a; /* Optional dark navy sections */
  --color-text-light: #f8fafc; /* Light text */
  --color-light-bg: #daecf2;
}

@custom-variant dark (&:where(.dark, .dark *));

/* Prevent horizontal overflow on mobile */
html,
body {
  overflow-x: hidden;
  width: 100%;
}
@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(32px);
    filter: blur(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}
/* * {
  outline: 1px solid red !important;
} */
